:root {

    --jeapordy-light: #7b0fe8;
    --jeapordy-dark: #5600ac;

}

@font-face {

    font-family: "Jeopardy";
    src: url("fonts/jeopardy.ttf");
    
}

.Option-button:hover {
    
    background-color: var(--jeapordy-light);
    transform: scale(1.1);
    box-shadow: 0 0 0.5em black;

}

.Option-button:disabled,
.Option-button[disabled] {
    
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
  z-index: 0;

  /* comment this out to keep answered question button on screen */
  visibility: hidden;

}

.Option-button {

    width: 14vw;
    height: 16vh;
    color: rgb(240, 240, 240);
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--jeapordy-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: bold;
    font-family: "Jeopardy";
    letter-spacing: 0.02em;
    cursor: pointer;
    margin: 0.1em;
    transition: all 0.3s ease-in-out;
    box-shadow: 0.05em 0.05em 0.1em black;
    z-index: 1;

}

.Option-button:active { transform: scale(0.95); }